In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/03 19:09:43 WARN Utils: Your hostname, psergios-linux resolves to a loopback address: 127.0.1.1; using 192.168.1.205 instead (on interface enp37s0)
24/03/03 19:09:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/03 19:09:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/03 19:09:44 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [5]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [4]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [6]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [9]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [11]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [10]:
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [12]:
df_yellow.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [14]:
common_columns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [13]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [16]:
from pyspark.sql import functions as F

In [18]:
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [19]:
df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [20]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [21]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [22]:
df_trips_data.registerTempTable('trips_data')

/home/psergios/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [28]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [29]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         243|2019-12-01 00:00:00|       green|               13.99|                  0.0|                    0.0|                       1.0|                         0.0|                                  0.3|                       15.29|                                 0.0|                       1.0|                     0.0|
|          20|2020-01-01 00:00:00|       green|            11375.42|                681.0|                  131.0|         90.61999999999999|          479.86000000000024|                   147.29999999999987|           12923.19999999998|                                11.0|        1.2297872340425533|       4.872311926605502|
|         248|2019-12-01 00:00:00|       green|                10.0|                  0.5|                    0.5|                       0.0|                         0.0|                                  0.3|                        11.3|                                 0.0|                       1.0|                     2.9|
|          12|2020-01-01 00:00:00|       green|              161.01|                  5.5|                    1.0|                       0.0|                       12.24|                                  1.2|                      180.95|                                null|                      null|      0.7150000000000007|
|         192|2020-01-01 00:00:00|       green|   8618.380000000001|               395.25|                   63.5|        374.93000000000006|           54.04999999999999|                     90.2999999999995|           9608.109999999993|                                 0.0|        1.3060109289617485|       5.159457142857146|
|         225|2020-01-01 00:00:00|       green|   54163.14000000001|               3779.0|                  573.0|        299.31999999999994|           786.1500000000004|                    662.0999999999909|           60424.11000000036|                                49.5|        1.1127596439169138|      4.1726357199055855|
|           7|2020-02-01 00:00:00|       green|   150332.0299999999|               7232.5|                 6804.0|        12193.109999999973|          1539.1999999999916|                   4271.7000000011285|          185070.83999998166|                             2675.75|        1.4657236126224156|       2.232184170471837|
|          33|2020-01-01 00:00:00|       green|   155230.3799999993|              6140.75|                 4757.0|        18298.059999999918|                      660.71|                    3095.100000000416|           194160.6999999901|                              6190.5|        1.2879223963330135|      3.4087194832335883|
|         217|2020-01-01 00:00:00|       green|   7338.409999999996|                423.5|                   98.5|         82.83000000000001|          137.88000000000005|                    91.19999999999949|           8200.170000000004|                               24.75|        1.1933333333333334|       4.819556213017748|
|         161|2020-01-01 00:00:00|       green|   2278.829999999999|                148.5|                    5.0|                       0.0|          183.66000000000005|                    21.60000000000003|          2637.5899999999997|                                 0.0|                       1.0|       8.621388888888891|
|          62|2020-01-01 00:00:00|       green|   26734.56999999999|               2084.0|                  273.5|        213.79000000000005|           237.8900000000001|                     336.300000000007|          29938.649999999783|                               13.75|        1.2145328719723183|       4.052355242566512|
|         191|2020-01-01 00:00:00|       green|   24836.62000000011|              1235.25|                  144.0|         9.969999999999999|          411.53000000000026|                   218.40000000000256|          26858.520000000004|                                2.75|        1.2651162790697674|       8.111508951406643|
|         159|2020-01-01 00:00:00|       green|  31086.470000000034|               1782.5|                  541.0|         283.1599999999999|          1169.1899999999982|                   482.70000000001255|           35435.21999999968|                               85.25|         1.176300578034682|       4.014747826086963|
|         236|2020-01-01 00:00:00|       green|  13472.720000000005|                755.5|                  443.0|        1573.1299999999994|          397.23000000000025|                   298.50000000000557|           18493.02999999987|                             1702.25|        1.4016203703703705|       3.121473788328389|
|          25|2020-01-01 00:00:00|       green|  119852.57999999887|               6304.5|                 3428.5|         8952.989999999974|           851.8100000000004|                    2377.799999999981|          143392.23000000278|                              1622.0|        1.2347905839192908|       3.158239531192771|
|         223|2019-12-01 00:00:00|       green|                29.5|                  0.5|                    0.5|                      6.16|                         0.0|                                  0.3|                       36.96|                                 0.0|                       5.0|                   10.19|
|         245|2020-01-01 00:00:00|       green|                80.0|                 2.75|                    0.0|                       0.0|                         0.0|                                  0.3|                       83.05|                                 0.0|                       6.0|                    51.9|
|         254|2020-01-01 00:00:00|       green|   35814.50000000002|              2336.75|                  215.0|                     11.26|          1600.8499999999915|                    352.5000000000076|           40336.70999999995|                                 0.0|        1.2430939226519337|       7.236776669224853|
|          70|2020-01-01 00:00:00|       green|   9938.849999999991|                611.0|                  139.0|                    122.54|          299.16000000000014|                   141.59999999999965|          11273.349999999979|                                22.0|        1.2639405204460967|       4.615189393939397|
|         251|2020-01-01 00:00:00|       green|               156.5|                  0.0|                    1.5|                     13.73|                       39.74|                   0.8999999999999999|                      220.07|                                2.75|        2.3333333333333335|      16.176666666666666|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [31]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')