In [2]:
import pyarrow as pa
import pyarrow.parquet as pq
import pandas as pd
import os

In [ ]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz

In [3]:
taxi_dtypes = {
                'VendorID': pd.Int64Dtype(),
                'passenger_count': pd.Int64Dtype(),
                'trip_distance': float,
                'RatecodeID': pd.Int64Dtype(),
                'store_and_fwd_flag': str,
                'PULocationID': pd.Int64Dtype(),
                'DOLocationID': pd.Int64Dtype(),
                'payment_type': pd.Int64Dtype(),
                'fare_amount': float,
                'extra': float,
                'mta_tax': float,
                'tip_amount': float,
                'tolls_amount': float,
                'improvement_surcharge': float,
                'total_amount': float,
                'congestion_surcharge': float
            }

parse_dates = ['tpep_pickup_datetime', 'tpep_dropoff_datetime']
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', sep=",", compression="gzip", dtype=taxi_dtypes, parse_dates=parse_dates)

In [3]:
print("Preprocessing: rows with zero passengers: ", df['passenger_count'].isin([0]).sum())
df = df[df['passenger_count'] != 0]
print("Posprocessing: rows with zero passengers: ", df['passenger_count'].isin([0]).sum())

Preprocessing: rows with zero passengers:  26726
Posprocessing: rows with zero passengers:  0

In [4]:
display(df)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.00,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.00,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.00,0.3,51.95,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.00,0.3,24.36,2.5
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0.00,0.3,14.15,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271408,2,2021-01-31 23:58:47,2021-02-01 00:04:40,3,0.81,1,N,41,74,2,5.0,0.5,0.5,0.00,0.00,0.3,6.30,0.0
1271409,2,2021-01-31 23:07:54,2021-01-31 23:19:42,1,3.81,1,N,113,141,2,12.5,0.5,0.5,0.00,0.00,0.3,16.30,2.5
1271410,2,2021-01-31 23:30:45,2021-01-31 23:35:13,1,1.32,1,N,233,237,2,6.0,0.5,0.5,0.00,0.00,0.3,9.80,2.5
1271411,2,2021-01-31 23:09:52,2021-01-31 23:51:56,2,10.56,1,N,56,68,1,37.5,0.5,0.5,0.00,6.12,0.3,44.92,0.0
1271412,2,2021-01-31 23:26:15,2021-01-31 23:33:48,2,1.93,1,N,230,229,1,7.5,0.5,0.5,2.26,0.00,0.3,13.56,2.5

In [37]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df['tpep_pickup_date'] = df['tpep_pickup_datetime'].dt.date
print(df['tpep_pickup_date'])

0          2021-01-01
1          2021-01-01
2          2021-01-01
4          2021-01-01
5          2021-01-01
              ...
1271408    2021-01-31
1271409    2021-01-31
1271410    2021-01-31
1271411    2021-01-31
1271412    2021-01-31
Name: tpep_pickup_date, Length: 1244687, dtype: object

In [19]:
selected_rows = df['tpep_pickup_date'].loc[0:50000]

In [34]:
type(df['tpep_pickup_date'])

pandas.core.series.Series

In [38]:
display(df)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,tpep_pickup_date
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.00,0.3,11.80,2.5,2021-01-01
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.00,0.3,4.30,0.0,2021-01-01
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.00,0.3,51.95,0.0,2021-01-01
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.00,0.3,24.36,2.5,2021-01-01
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0.00,0.3,14.15,2.5,2021-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271408,2,2021-01-31 23:58:47,2021-02-01 00:04:40,3,0.81,1,N,41,74,2,5.0,0.5,0.5,0.00,0.00,0.3,6.30,0.0,2021-01-31
1271409,2,2021-01-31 23:07:54,2021-01-31 23:19:42,1,3.81,1,N,113,141,2,12.5,0.5,0.5,0.00,0.00,0.3,16.30,2.5,2021-01-31
1271410,2,2021-01-31 23:30:45,2021-01-31 23:35:13,1,1.32,1,N,233,237,2,6.0,0.5,0.5,0.00,0.00,0.3,9.80,2.5,2021-01-31
1271411,2,2021-01-31 23:09:52,2021-01-31 23:51:56,2,10.56,1,N,56,68,1,37.5,0.5,0.5,0.00,6.12,0.3,44.92,0.0,2021-01-31
1271412,2,2021-01-31 23:26:15,2021-01-31 23:33:48,2,1.93,1,N,230,229,1,7.5,0.5,0.5,2.26,0.00,0.3,13.56,2.5,2021-01-31

In [39]:
table = pa.Table.from_pandas(df)

pq.write_to_dataset(
    table,
    root_path='output.parquet',
    partition_cols=['tpep_pickup_date'],
)

In [1]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz

--2024-01-25 22:23:24--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b94c0bd2-e629-406d-aecf-d4e2c0412807?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240125%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240125T222324Z&X-Amz-Expires=300&X-Amz-Signature=5714e60f0e11df9a6af3f77598b2d20dd348b6c180b9b7a5a518f278b0496f63&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2020-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-25 22:23:24--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b94c0bd2-e629-406d-aecf-d4e2c0412807?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240125%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240125T222324Z&X-Amz-Expires=300&X-Amz-Signature=5714e60f0e11df9a6af3f77598b2d20dd348b6c180b9b7a5a518f278b0496f63&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2020-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1709547 (1,6M) [application/octet-stream]
Saving to: ‘green_tripdata_2020-10.csv.gz’

green_tripdata_2020 100%[===================>]   1,63M  2,79MB/s    in 0,6s

2024-01-25 22:23:25 (2,79 MB/s) - ‘green_tripdata_2020-10.csv.gz’ saved [1709547/1709547]

In [10]:
import pandas as pd

taxi_dtypes = {
                'VendorID': pd.Int64Dtype(),
                'passenger_count': pd.Int64Dtype(),
                'trip_distance': float,
                'RatecodeID': pd.Int64Dtype(),
                'store_and_fwd_flag': str,
                'PULocationID': pd.Int64Dtype(),
                'DOLocationID': pd.Int64Dtype(),
                'payment_type': pd.Int64Dtype(),
                'fare_amount': float,
                'extra': float,
                'mta_tax': float,
                'tip_amount': float,
                'tolls_amount': float,
                'improvement_surcharge': float,
                'total_amount': float,
                'congestion_surcharge': float
            }

parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']

dfg = pd.read_csv("green_tripdata_2020-10.csv.gz", sep=",", compression="gzip", dtype=taxi_dtypes, parse_dates=parse_dates)

In [10]:
display(df)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.00,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.00,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.50,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.50,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95115,NaN,2020-10-19 14:28:00,2020-10-19 14:46:00,NaN,NaN,130,70,NaN,6.29,27.70,0.0,0.0,2.75,0.0,NaN,0.3,30.75,NaN,NaN,NaN
95116,NaN,2020-10-19 14:57:00,2020-10-19 15:21:00,NaN,NaN,13,42,NaN,11.42,41.11,0.0,0.0,2.75,0.0,NaN,0.3,44.16,NaN,NaN,NaN
95117,NaN,2020-10-19 14:01:00,2020-10-19 14:13:00,NaN,NaN,61,62,NaN,1.33,16.73,0.0,0.0,2.75,0.0,NaN,0.3,19.78,NaN,NaN,NaN
95118,NaN,2020-10-19 14:53:00,2020-10-19 14:59:00,NaN,NaN,205,10,NaN,1.40,18.58,0.0,0.0,2.75,0.0,NaN,0.3,21.63,NaN,NaN,NaN
95119,NaN,2020-10-19 14:22:00,2020-10-19 15:02:00,NaN,NaN,106,14,NaN,4.60,25.79,0.0,0.0,2.75,0.0,NaN,0.3,28.84,NaN,NaN,NaN

In [11]:
# Function to convert Camel Case to Snake Case
def camel_to_snake(column_name):
    # Using a regular expression to insert an underscore before each uppercase letter
    import re
    return re.sub(r'([a-z0-9])([A-Z])', r'\1_\2', column_name).lower()

# Replace columns with Snake Case names
df.rename(columns={col: camel_to_snake(col) for col in df.columns}, inplace=True)

In [12]:
display(df)

,vendor_id,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,ratecode_id,pulocation_id,dolocation_id,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.00,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.00,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.50,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.50,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95115,NaN,2020-10-19 14:28:00,2020-10-19 14:46:00,NaN,NaN,130,70,NaN,6.29,27.70,0.0,0.0,2.75,0.0,NaN,0.3,30.75,NaN,NaN,NaN
95116,NaN,2020-10-19 14:57:00,2020-10-19 15:21:00,NaN,NaN,13,42,NaN,11.42,41.11,0.0,0.0,2.75,0.0,NaN,0.3,44.16,NaN,NaN,NaN
95117,NaN,2020-10-19 14:01:00,2020-10-19 14:13:00,NaN,NaN,61,62,NaN,1.33,16.73,0.0,0.0,2.75,0.0,NaN,0.3,19.78,NaN,NaN,NaN
95118,NaN,2020-10-19 14:53:00,2020-10-19 14:59:00,NaN,NaN,205,10,NaN,1.40,18.58,0.0,0.0,2.75,0.0,NaN,0.3,21.63,NaN,NaN,NaN
95119,NaN,2020-10-19 14:22:00,2020-10-19 15:02:00,NaN,NaN,106,14,NaN,4.60,25.79,0.0,0.0,2.75,0.0,NaN,0.3,28.84,NaN,NaN,NaN

In [15]:
display(dfg.dtypes)

VendorID                          Int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        Int64
PULocationID                      Int64
DOLocationID                      Int64
passenger_count                   Int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      Int64
trip_type                       float64
congestion_surcharge            float64
lpep_pickup_date         datetime64[ns]
dtype: object

In [14]:
dfg['lpep_pickup_date'] = dfg['lpep_pickup_datetime'].dt.date
dfg['lpep_pickup_date'] = pd.to_datetime(dfg['lpep_pickup_date'])

In [19]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import os


table_name = "nyc_taxi_data"
root_path = f"output/{table_name}"

table = pa.Table.from_pandas(dfg)

pq.write_to_dataset(
    table,
    root_path=root_path,
    partition_cols=['lpep_pickup_date']
)